@import "tailwindcss";

/* Disable text selection for UI elements */
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;
  background-color: black;
}


@keyframes loader {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-loader {
  animation: loader 1.6s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}
