@import "tailwindcss";

/* Disable text selection for UI elements */
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;
  background-color: black;
}